* {
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond', serif;
}
.navigation {
    font-weight: 400;
    font-size: 0.8cm;
  }
ul {
    max-height: fit-content;
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: #222831;
    text-align: center;
  }
  li {
    float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    margin-left: 20px;
    text-decoration: none;
    transition: color 0.2s;
  }
  li a:hover {
    color: rgb(216, 255, 176);
  }